@charset "utf-8";
@import "compass";
@import "base";

//-------------------------------
// JOBCAN UI change
//-------------------------------
#menu_order {
  a {
    &:before {
      content: ">";
      display: inline-block;
      padding: 0 7px 0 0;
      font-size: 10px;
    }
  }
}
#adit-button-push {
  background:none !important;
  border:1px solid #fff !important;
  &:hover {
    background:none !important;
    border:1px solid #000 !important;
    color:#000 !important;
  }
}
